header {
    color:white;
    background-color: black;
    border-radius: 2em;
    padding: 2em;
    margin-bottom:2em;
    box-shadow: 10px 10px 15px lightcoral;
    text-align: center;
    
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

