header {
    color:white;
    background-color: black;
    border-radius: 2em;
    padding: 2em;
    margin-bottom:2em;
    box-shadow: 10px 10px 15px lightcoral;
    text-align: center;
    
}

footer {
    background-color: black;
    color: white;
    padding: 1em;
}

body {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch center;
    justify-content: center;
    flex: 1;
    max-width: 80em;
}

form {
    padding: 2em;
    padding-bottom: 16em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 20vh;
    background-color: tan;
    border: solid thick black;
    border-radius: 1em;
}

form button {
    max-width: 10em
}

