header {
    color:white;
    background-color: black;
    border-radius: 2em;
    padding: 2em;
    margin-bottom:2em;
    box-shadow: 10px 10px 15px lightcoral;
    text-align: center;
    
}

footer {
    background-color: black;
    color: white;
    padding: 1em;
}

body {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 100vw;
}

form {
    padding: 2em;
    padding-bottom: 4em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: lightgrey;
    border: solid thick black;
    border-radius: 1em;
    width: 80vw
}

fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
}

input {
    background-color: white;
    justify-content: center;
    padding: 0.25em;
    
}

label {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.2em;
    background-color:lightblue;
    border: solid thin black;
    border-radius: 0.5em;
    width: fit-content;

}

form button {
    max-width: 10em;
    justify-content: flex-end;
    min-width: 5em;
    margin: 0.5em;
    max-height: auto;
    font-size: auto;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


