body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

header {
    
    color:white;
    background-color: black;
    border-radius: 2em;
    padding: 2em;
    margin-bottom:2em;
    box-shadow: 10px 10px 15px lightgreen;
    text-align: center;
   
    max-height: 10vh;
}




main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    
}

footer {
    background-color: black;
    color: white;
    padding:1em;

}


.form-row {
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid thin black;
    
    
}

.form-row label {
    font-size: 1.2em;
    margin-right: 1em;
    text-align: center;
    width: 6em;
}
