body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    min-width: 290px;
}

header {
    color:white;
    background-color: black;
    border-radius: 2em;
    padding: 2em;
    margin-bottom:2em;
    box-shadow: 10px 10px 15px lightblue;
    text-align: center;
    animation: 3s spin;

}

footer {
    background-color: black;
    color: white;
    padding:1em;

}


main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    
}

#login-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    gap: 1em;
}




.form-row {
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid thin black;
    
    
}

.form-row label {
    font-size: 1.2em;
    margin-right: 1em;
    text-align: center;
    width: 6em;
}

@media (orientation: portrait) {
    header {
        font-size: 1em;
        overflow-wrap: break-word;
    }

    footer {
        overflow-wrap: break-word;
    }

    .form-row {
        flex-direction: column;
    }

    #login-buttons {
        flex-direction: column;
    }

}
