



#login-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    
}

#login-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    gap: 1em;
}




.form-row {
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid thin black;
    
    
}

.form-row label {
    font-size: 1.2em;
    margin-right: 1em;
    text-align: center;
    width: 6em;
}

@media (orientation: portrait) {


    .form-row {
        flex-direction: column;
    }

    #login-buttons {
        flex-direction: column;
    }

}
