header {
    color:white;
    background-color: black;
    border-radius: 2em;
    padding: 2em;
    margin-bottom:2em;
    box-shadow: 10px 10px 15px lightblue;
    text-align: center;
    animation: 3s spin;

}

body {
    color: black;
    background-color: white;
    height: 100vh;
    
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}



#prioritizer, #due-today {
    border: solid thick black;
    border-radius: 1em;
    box-shadow: 1em 1em 2em grey;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 3em;
    list-style: none;
    flex: 2;
    
    

}

.assignments-section {
    flex: 1;
}

.assignments-section div {
    display: flex;
    flex-direction: column;
}

li {
    padding: 0.5em;
    margin:0.3em;
    background-color: lightblue;
    border-radius: 0.4em;
    border: solid thin black;
    font-size: 1em;
    color: black;
    text-align: center;
    box-shadow: inset -3px -3px 5px black;
    animation:normal 3s slide-in;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
}

li:hover {
    background-color: lightcoral;
    cursor: pointer;
}

label {
    font-size: 3em;
    margin:0.5 em;
    color: black;
    text-align: center;
}

#buttons {
    flex: 1;
}

#inspirational-quote {
    flex: 0.1;
    text-align: center;
    font-size: 1.2em;
}



@media (orientation: portrait) and (max-height:500px) {
    header {
        display: none;
        
    }
    footer {
        display: none;
    }
}

@media (orientation: portrait) {
    main {
        flex-direction: column;
        border: none;
    }
}

@media (orientation: landscape) {
    div:first-child {
        border: none;
    }

    div {
        border-left: solid thick black;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-100%);
        
    }

    to {
        transform: translateX(0);
        opacity: 1;
        border-left: solid thick black;
    }
}

a {
    color: black;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1080deg);
    }
}
