h1 {
    color: black;
    font-size: 2.5em;
    text-align: center;
    padding: 0.2em;
    border-bottom: tick solid black;
}

body {
    background-color: #E8DDB5;
    border: solid #B2C9AB thick;
}

button {
    background-color: #B2C9AB;
    color: white;
    font-size: 1em;
    border-radius: 0.1em;
    font-weight: bold;
    -webkit-text-stroke: black 0.05em;
    margin: 0.5em;
}

button:hover {
    background-color:lightblue;
}