h1 {
    font-size: 2.5em;
    text-align: center;
    padding: 0.2em;
    border-bottom: tick solid black;
}

body {
    background-color: #E8DDB5;
    border: solid #B2C9AB thick;
}

button {
    background-color: grey;
    color: white;
    font-size: 1em;
    border-radius: 0.1em;
    font-weight: bold;
   
    margin: 0.5em;
}

footer {
    padding:2em;
}

button:hover {
    background-color:lightgrey;
    color: black;
}

.class {
    font-size: 1.5em;
}
