h1 {
    color: red;
    font-size: 2.5em;
    text-align: center;
    padding: 0.2em;
    border: 0.5em solid #ACDDDE;
}

body {
    background-color: FEF8DD;
}

button {
    background-color: gray;
    color: white;
    font-size: 1.8em;
}

button:hover {
    background-color:yellowgreen;
    font-size:10em;
    animation: move 0.5s infinite;
}