header {
    color:white;
    background-color: black;
    border-radius: 2em;
    padding: 2em;
    margin-bottom:2em;
    box-shadow: 10px 10px 15px lightblue;
    text-align: center;
    animation: 3s spin;
    min-width: 280px;

}

footer {
    background-color: black;
    color: white;
    padding:1em;
}

.app {
    color: black;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.btn {
    margin: 0.2em;
}





main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

li {
    padding: 0.5em;
    margin:0.3em;
    background-color: lightgreen;
    border-radius: 0.4em;
    border: solid thin black;
    font-size: 1em;
    color: black;
    text-align: center;
    box-shadow: inset -3px -3px 5px black;
    animation:normal 3s slide-in;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
}

li:hover {
    background-color: lightcoral;
    cursor: pointer;
}

label {
    font-size: 3em;
    padding:1em;
    
    color: black;
    vertical-align: middle;
}


.classes {
    border: solid thick black;
    background-color: lightgrey;
    border-radius: 1em;
    box-shadow: 1em 1em 2em grey;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 3em;
    list-style: none;
    min-width: 180px;
    
    
    

}

.assignments-section {
    flex: 1;
}

#classes-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#footer-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


#main-buttons {
    flex:0.5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:1em;
}

.footer-button {
    max-height: 3em;
    min-width: 5em;
    margin: 0.5em;
}

#inspirational-quote {
    padding: 1em;
    margin: 1em;
    flex: 0.1;
    text-align: center;
    font-size: 1.2em;
}






@media (orientation: portrait) and (max-height:500px) {
    header {
        display: none;
        
    }
    footer {
        display: none;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    header {
        display: none;
        
    }
    footer {
        display: none;
    }

    #classes-section {
        flex-direction: column;
        border: none;
    }

    #main-buttons {
        flex-direction: column;
    }
    li {
        flex-direction: column;
    }

    a {
        overflow-wrap: break-word;
    }

    .due-date {
        overflow-wrap: break-word;
    }

    label {
        word-wrap: break-word;
    }



}

@media (orientation: portrait) {
    header {
        font-size: 1em;
        overflow-wrap: break-word;
    }

    #classes-section {
        flex-direction: column;
        border: none;
    }

    #main-buttons {
        flex-direction: column;
    }
    li {
        flex-direction: column;
    }

    a {
        overflow-wrap: break-word;
    }

    .due-date {
        overflow-wrap: break-word;
    }

    label {
        word-wrap: break-word;
    }
}

@media (orientation: landscape) {
    #prioritizer-section {
        border-inline-end: solid thick black;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-100%);
        
    }

    to {
        transform: translateX(0);
        opacity: 1;
        border-left: solid thick black;
    }
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1080deg);
    }
}
